*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 100%;
}
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.d-none {
  display: none;
}

.page-wrapper {
  overflow: hidden;
}

body {
  font-family: "Rubik";
  background: #FBF8EC;
}

.wrapper {
  padding: 0 12px;
}

.title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #414141;
}

.d-none {
  display: none !important;
}

.section {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 736px;
    padding: 0;
    margin: 0 auto;
  }
  .section {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 0 0;
    max-width: 1208px;
    margin: 0 auto;
  }
  .section {
    margin-bottom: 120px;
  }
}
.header {
  background: #FFFFFF;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  position: relative;
  z-index: 1;
}
.header__row {
  display: flex;
  gap: 0 20px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}
.header__logo svg {
  display: block;
  width: 100%;
  height: 100%;
}
.header .logo__desktop {
  display: none;
}
.header__right {
  display: none;
}
.header__center {
  flex-grow: 1;
}
.header__button {
  display: none;
}
.header__form .form__search {
  height: 40px;
}
.header__form .form__search input {
  border: 1px solid #70C05B;
  border-radius: 4px;
}
.header.basketEmpty .main-menu__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.header.basketEmpty .main-menu__item--basket .main-menu__icon::after {
  display: none;
}

.form__search {
  position: relative;
}
.form__search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__search-icon svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.form__search input {
  padding: 0 34px 0 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F8F8F;
}
.form__search input::-moz-placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F8F8F;
}
.form__search input::placeholder {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8F8F8F;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.main-menu__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.main-menu__item--basket .main-menu__icon {
  position: relative;
}
.main-menu__item--basket .main-menu__icon::after {
  content: attr(data-number);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -16px;
  right: -12px;
  background: #FF6633;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
.main-menu__icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu__icon svg {
  max-width: 100%;
  height: auto;
}
.main-menu__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 16px 0;
    position: unset;
    z-index: unset;
    margin-bottom: 4px;
  }
  .header__row {
    align-items: center;
  }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 40px;
  }
  .header__logo svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header__center {
    flex-grow: unset;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
  }
  .header__button {
    display: inline-flex;
    background: #70C05B;
    border-radius: 4px;
    transition: all 300ms;
  }
  .header__button:hover {
    box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  }
  .header__button-text {
    display: none;
  }
  .header__button-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__button-icon span {
    display: block;
    background: #FFFFFF;
    height: 1px;
    width: 19px;
    position: relative;
  }
  .header__button-icon span::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 0;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
  }
  .header__button-icon span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
  }
  .header__form {
    width: 100%;
  }
  .header__right {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
  .header__user-img {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }
  .header__user-img img {
    height: auto;
  }
  .header__user-icon {
    display: none;
  }
  .header__user-name {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header__row {
    gap: 0 40px;
  }
  .header__logo {
    width: 152px;
    height: 32px;
  }
  .header__logo svg {
    display: none;
  }
  .header__logo .logo__desktop {
    display: block;
  }
  .header__center {
    gap: 0 16px;
  }
  .header__button {
    display: inline-flex;
    padding: 8px;
  }
  .header__button-row {
    display: flex;
    align-items: center;
    gap: 0 8px;
  }
  .header__button-text {
    display: block;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    width: 92px;
  }
  .header__button-icon {
    width: 24px;
    height: 24px;
  }
  .header__right {
    gap: 0 24px;
  }
  .header__user {
    padding: 8px;
  }
  .header__user-row {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  .header__user-body {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  .header__user-icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
  }
  .header__user-name {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #232323;
    min-width: 85px;
  }
  .main-menu {
    gap: 0 24px;
  }
}
.baner {
  position: relative;
  margin-bottom: 40px;
}
.baner .swiper-pagination {
  bottom: 0;
}

.item-baner--first {
  background: url(../img/product/baner.png) no-repeat;
  background-position: center;
  background-size: cover;
}
.item-baner--first .item-baner__row {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-baner--first .item-baner__img {
  display: none;
}
.item-baner--first .item-baner__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #414141;
}
.item-baner--second .item-baner__img {
  width: 100%;
  height: 80px;
}
.item-baner--second .item-baner__img img {
  display: block;
  max-width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .baner {
    margin-bottom: 60px;
  }
  .item-baner--first .item-baner__content {
    max-width: 584px;
    margin: 0 auto;
  }
  .item-baner--first .item-baner__row {
    min-height: 160px;
    justify-content: unset;
    padding-top: 32px;
    gap: 9px;
  }
  .item-baner--first .item-baner__img {
    display: block;
    width: 198px;
    height: 132px;
  }
  .item-baner--first .item-baner__img img {
    height: 100%;
  }
  .item-baner--first .item-baner__title {
    font-size: 24px;
  }
  .item-baner--second .item-baner__img {
    height: 160px;
  }
  .item-baner--second .item-baner__img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .baner {
    margin-bottom: 80px;
  }
  .item-baner--first .item-baner__content {
    max-width: 1072px;
    margin: 0 auto;
  }
  .item-baner--first .item-baner__row {
    min-height: 200px;
    padding-top: 0;
    gap: 18px;
  }
  .item-baner--first .item-baner__img {
    width: 300px;
    height: 200px;
  }
  .item-baner--first .item-baner__title {
    font-size: 48px;
  }
  .item-baner--second .item-baner__img {
    height: 200px;
  }
}
.list-product {
  margin-bottom: 80px;
}
.list-product__head {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 48px;
  margin-bottom: 16px;
}
.list-product__link {
  display: block;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.list-product__link-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-product__link-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
  min-width: 120px;
  text-align: center;
}
.list-product__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  gap: 16px;
}

.product {
  background: #FFFFFF;
  transition: all 300ms;
}
.product:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.product:hover .product__button {
  background: #FF6633;
  color: #FFFFFF;
  border: none;
}
.product__head {
  position: relative;
}
.product__body {
  padding: 8px;
}
.product__like-icon {
  width: 32px;
  height: 32px;
  background: rgba(243, 242, 241, 0.5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 300ms;
  cursor: pointer;
}
.product__like-icon:hover {
  background: rgba(252, 213, 186, 0.5);
}
.product__like-icon svg {
  width: 21.9px;
  height: 19.23px;
}
.product__reduction {
  background: #FF6633;
  border-radius: 4px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 3px 8px;
}
.product__img {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.product__img img {
  max-width: 100%;
  height: 100%;
}
.product__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.product__price-howToPay {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  color: #BFBFBF;
}
.product__price--carte {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #414141;
}
.product__price--normal {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #606060;
}
.product__name {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 8px;
  min-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.product__note {
  display: flex;
  align-items: center;
  gap: 0 4px;
  margin-bottom: 8px;
}
.product__note-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__button {
  width: 100%;
  transition: all 300ms;
}
.product__handlerNumber {
  display: flex;
  align-items: center;
  background: #70C05B;
  border-radius: 4px;
  padding: 8px;
  gap: 0 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.product__handlerNumber-value {
  flex-grow: 1;
  text-align: center;
}
.product__handlerNumber-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #70C05B;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #70C05B;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list-product {
    margin-bottom: 100px;
  }
  .list-product__head {
    margin-bottom: 32px;
  }
  .list-product__item:last-child {
    display: none;
  }
  .list-product__grid {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    gap: 32px;
  }
  .product__reduction {
    font-size: 16px;
    padding: 4px 8px;
  }
  .product__img {
    width: 224px;
  }
  .product__price-howToPay {
    font-size: 12px;
  }
  .product__price--carte {
    font-size: 18px;
  }
  .product__price--normal {
    font-size: 16px;
  }
  .product__name {
    font-size: 16px;
    min-height: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .list-product {
    margin-bottom: 120px;
  }
  .list-product__head {
    margin-bottom: 40px;
  }
  .list-product__item:last-child {
    display: block;
  }
  .list-product__grid {
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    gap: 40px;
  }
  .product__img {
    width: 272px;
  }
  .product__name {
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}
.special-offers__title {
  margin-bottom: 16px;
}
.special-offers__item:first-child {
  margin-bottom: 16px;
}

.item-special-offers {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.item-special-offers:first-child {
  background: #FCD5BA;
  box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
  padding: 20px 142px 30px 20px;
  min-height: 170px;
  position: relative;
  overflow: hidden;
}
.item-special-offers:first-child .item-special-offers__img {
  width: 165.79px;
  height: 110.78px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.item-special-offers:first-child .item-special-offers__img img {
  height: 100%;
}
.item-special-offers:first-child .item-special-offers__body {
  max-width: 174px;
}
.item-special-offers--green {
  justify-content: space-between;
  gap: 0 38px;
  padding: 20px 21px 18px 20px;
  background: #E5FFDE;
}
.item-special-offers--green .item-special-offers__img {
  width: 132px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-special-offers--green .item-special-offers__img img {
  height: 100%;
}
.item-special-offers--green .item-special-offers__body {
  max-width: 125px;
  position: relative;
}
.item-special-offers--green .item-special-offers__body::after {
  content: "";
  display: block;
  background: url(../img/icon/plus-icon.svg) no-repeat;
  position: absolute;
  background-size: cover;
  top: -15px;
  left: 9px;
  width: 12px;
  height: 11px;
}
.item-special-offers--green .item-special-offers__body::before {
  content: "";
  display: block;
  background: url(../img/icon/plus-icon.svg) no-repeat;
  position: absolute;
  background-size: cover;
  bottom: -14px;
  left: -3px;
  width: 7px;
  height: 6px;
}
.item-special-offers__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 6px;
}
.item-special-offers__text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
}

@media screen and (min-width: 768px) {
  .special-offers__title {
    margin-bottom: 32px;
  }
  .special-offers__item:first-child {
    margin-bottom: 0;
  }
  .special-offers__row {
    display: flex;
    gap: 32px;
  }
  .item-special-offers:first-child {
    background: #FCD5BA;
    box-shadow: 0px 8px 16px rgba(202, 147, 96, 0.5);
    padding: 20px 158px 36px 20px;
    min-height: 174px;
    max-width: 353px;
    width: 100%;
  }
  .item-special-offers--green {
    justify-content: unset;
    gap: 0 40px;
    max-width: 353px;
    width: 100%;
    padding: 20px 10px 27px 20px;
  }
  .item-special-offers__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .special-offers__title {
    margin-bottom: 40px;
  }
  .special-offers__row {
    display: flex;
    gap: 40px;
  }
  .item-special-offers {
    max-width: 584px;
  }
  .item-special-offers:first-child {
    padding: 0 32px 0 40px;
    min-height: unset;
    max-width: unset;
    display: flex;
    align-items: center;
    gap: 0 25px;
  }
  .item-special-offers:first-child .item-special-offers__img {
    width: 206.76px;
    height: 100%;
    transform: unset;
    display: flex;
    position: unset;
    align-items: center;
    justify-content: center;
  }
  .item-special-offers:first-child .item-special-offers__img img {
    height: auto;
  }
  .item-special-offers:first-child .item-special-offers__body {
    max-width: 258px;
  }
  .item-special-offers--green {
    gap: 0 16px;
    max-width: unset;
    width: 100%;
    padding: 14px 14px 0px 40px;
  }
  .item-special-offers--green .item-special-offers__img {
    width: 265px;
    height: 186px;
  }
  .item-special-offers--green .item-special-offers__body {
    max-width: 258px;
  }
  .item-special-offers__title {
    font-size: 24px;
  }
  .item-special-offers__text {
    font-size: 16px;
  }
}
.localization__title {
  margin-bottom: 16px;
}

.tab-localization__head {
  margin-bottom: 16px;
}
.tab-localization__row {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}
.tab-localization__body {
  width: 100%;
  height: 354px;
}
.tab-localization__body img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.button-tab {
  display: inline-block;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #606060;
  padding: 4px 8px;
  background: #F3F2F1;
  border-radius: 4px;
  transition: all 300ms;
}
.button-tab__text {
  display: flex;
  min-width: 83px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.button-tab.active {
  background: #70C05B;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .localization__title {
    margin-bottom: 32px;
  }
  .tab-localization__head {
    margin-bottom: 16px;
  }
  .tab-localization__row {
    gap: 16px;
  }
  .tab-localization__body {
    height: 354px;
  }
  .button-tab__text {
    min-width: 75px;
  }
}
@media screen and (min-width: 1440px) {
  .localization__title {
    margin-bottom: 40px;
  }
  .tab-localization__head {
    margin-bottom: 24px;
  }
  .tab-localization__row {
    gap: 24px;
  }
  .button-tab__text {
    min-width: 81px;
  }
}
.articles {
  margin-bottom: 40px;
}
.articles__item:not(:last-child) {
  margin-bottom: 20px;
}

.item-articles {
  background: #FFFFFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.item-articles__img {
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-articles__img img {
  width: 100%;
  height: 100%;
}
.item-articles__body {
  padding: 10px;
}
.item-articles__time {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: #8F8F8F;
  margin-bottom: 10px;
}
.item-articles__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 10px;
}
.item-articles__text {
  min-height: 72px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 10px;
}

.button-green {
  display: inline-block;
  background: #E5FFDE;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #70C05B;
  padding: 8px;
}
.button-green__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  min-height: 24px;
}

@media screen and (min-width: 768px) {
  .articles {
    margin-bottom: 60px;
  }
  .articles__item:not(:last-child) {
    margin-bottom: 0;
  }
  .articles__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .item-articles__img {
    width: 224px;
    height: 156px;
  }
  .item-articles__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
@media screen and (min-width: 1440px) {
  .articles {
    margin-bottom: 80px;
  }
  .articles__item:not(:last-child) {
    margin-bottom: 0;
  }
  .articles__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  .item-articles__img {
    width: 376px;
    height: 162px;
  }
  .item-articles__time {
    font-size: 12px;
  }
  .item-articles__title {
    font-size: 18px;
  }
  .item-articles__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */