.list-product{
    margin-bottom: 80px;
    &__head{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 48px;
        margin-bottom: 16px;
       
    }
    &__link{
        display: block;
        display: flex;
        align-items: center;
        gap: 0 8px;
        &-icon{
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-text{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #606060;
            min-width: 120px;
            text-align: center;     
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(2,minmax(160px,1fr));
        gap: 16px;
    }
}

.product{
   
    background:#FFFFFF;
    transition: all 300ms;
    &:hover{
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
        .product__button{
            background: #FF6633;
            color: #FFFFFF;
            border: none;
        }
    }
    &__head{
        position: relative;
     
    }
    &__body{
        padding: 8px;
    }
    &__like-icon{
        width: 32px;
        height: 32px;
        background:rgba( #F3F2F1, 0.5);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 8px;
        top: 8px;
        transition: all 300ms;
        cursor: pointer;
        &:hover{
            background: rgba(#FCD5BA,  0.5);
        }
        svg{
            width: 21.9px;
            height: 19.23px;
        }
    }
    &__reduction{
        background: #FF6633;
        border-radius: 4px;


        position: absolute;
        bottom: 10px;
        left: 10px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 3px 8px;
        
    }
    &__img{
        width: 160px;
        height: 160px;
        display: flex;
        // align-items: center;
        justify-content: center;
        // border: 1px solid red;
        margin: 0 auto;
        img{
          max-width: 100%;
           height: 100%;
        }
    }
    &__price{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
      
        &-howToPay{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 150%;
            color: #BFBFBF;
        }
        &--carte{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #414141;
        }
        &--normal{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: #606060;
            
        }
    }
    &__name{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #414141;
        margin-bottom: 8px;


        min-height: 54px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
        -webkit-box-orient: vertical;

     
    }
    &__note{
        display: flex;
        align-items: center;
        gap: 0 4px;
        margin-bottom: 8px;
        &-icon{
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__button{
        width: 100%;
        transition: all 300ms;

    }
    &__handlerNumber{
        display: flex;
        align-items: center;

        background: #70C05B;
        border-radius: 4px;

        padding: 8px;
        gap: 0 8px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        &-value{
            flex-grow: 1;
            text-align: center;
        }
        &-button{
            width: 24px;
            height: 24px;
            cursor: pointer;
            text-align: center;
        }
    }

}

.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    border: 1px solid #70C05B;
    border-radius: 4px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #70C05B;
    text-align: center;
}



@media screen and (min-width:768px){
    .list-product{
        margin-bottom: 100px;
        &__head{
            margin-bottom: 32px;
        }
        &__item{
            &:last-child{
                display: none;
            }
        }
      
        &__grid{
            grid-template-columns: repeat(3,minmax(160px,1fr));
            gap: 32px;
        }
    }

    .product{
        &__reduction{
            font-size: 16px;
            padding: 4px 8px;
            
        }
        &__img{
            width: 224px;
        }
        &__price{          
            &-howToPay{
                font-size: 12px;
            }
            &--carte{
                font-size: 18px;
            }
            &--normal{
                font-size: 16px;
                
            }
        }
        &__name{
            font-size: 16px;
            min-height: 48px;         
        }
    }
    
}


@media screen and (min-width:1440px){
    .list-product{
        margin-bottom: 120px;
        &__head{
            margin-bottom: 40px;
        }
        &__item{
            &:last-child{
                display: block;
            }
        }
      
        &__grid{
            grid-template-columns: repeat(4,minmax(160px,1fr));
            gap: 40px;
        }
    }

    .product{
        &__img{
            width: 272px;
        }
        &__name{
            -webkit-line-clamp: 2;
                    line-clamp: 2; 

        }
    }
    
}