.page-wrapper{
    overflow: hidden;
}
body{
    font-family: 'Rubik';
    background: #FBF8EC;
}
.wrapper{
    padding: 0 12px;
}

.title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #414141;
}

.d-none{
    display: none!important;
}
.section{
    margin-bottom: 80px;
}


@media screen and (min-width:768px){
    .wrapper{
        max-width: 736px;
        padding: 0 ;
        margin: 0 auto;
    }
    .section{
        margin-bottom: 100px;
    }
}
@media screen and (min-width:1440px){
    .wrapper{
        padding: 0 0;
        max-width: 1208px;
         margin: 0 auto;
    }
    .section{
        margin-bottom: 120px;
    }
}